.root {
    -color-work: #ec7b6d;
    -color-break: #27AE60;
    -color-long-break: #2980B9;
    -icon-red : #ff7a00;
}

.primer-dark {
    -color-bg-default: #0d1117;
    -color-fg-default: #ffffff;
    -color-fg-muted: #94a3b8;
    -color-bg-subtle: #161b22;
    -color-accent: #a855f7;

    -color-menu: -color-bg-default;
    -color-hover: -color-bg-subtle;
    -bg-settings: #161b22;
    -text-main: -color-fg-default;
    -text-dark: #e6edf3;
    -text-muted: -color-fg-muted;
    -stat-card-normal-bg: rgba(46, 74, 255, 0.1);
    -stat-card-red-bg: rgba(255, 57, 22, 0.1);
    -stat-card-secundary-bg: rgba(85, 85, 85, 0.07);

    -heatmap-empty: rgba(48, 54, 61, 0.5);
    -heatmap-very-low: rgba(168, 85, 247, 0.2);
    -heatmap-low: rgba(168, 85, 247, 0.4);
    -heatmap-medium: rgba(124, 58, 237, 0.82);
    -heatmap-high: #a855f7;
    -heatmap-very-high: #bc7af9;
    -heatmap-extreme: #d8b4fe;
}

.primer-light {
    -color-bg-default: #ffffff;
    -color-fg-default: #1e293b;
    -color-fg-muted: #6e7781;
    -color-bg-subtle: #f6f8fa;
    -color-accent: #8250df;

    -color-menu: -color-bg-default;
    -color-hover: -color-bg-subtle;
    -bg-settings: -color-bg-subtle;
    -text-main: -color-fg-default;
    -text-dark: #24292f;
    -text-muted: -color-fg-muted;
    -stat-card-normal-bg: rgb(98, 255, 46);
    -stat-card-red-bg: rgb(22, 255, 255);
    -stat-card-secundary-bg: rgba(85, 85, 85, 0.07);

    -heatmap-empty: #ebedf0;
    -heatmap-very-low: #d2a8ff;
    -heatmap-low: #bc7af9;
    -heatmap-medium: #a855f7;
    -heatmap-high: #8957e5;
    -heatmap-very-high: #6e40c1;
    -heatmap-extreme: #553098;
}