
.root {

    -color-work: #E74C3C;       /* rojo */
    -color-break: #27AE60;      /* verde */
    -color-long-break: #2980B9; /* azul */
    -color-menu: #34495E;       /* gris */

    /* colores */
    -bg-settings: #FFFFFF;
    -text-main: #FFFFFF;
    -text-dark: #2C3E50;
    -text-muted: #95A5A6;

    /* sombras y bordes */
    -shadow-color: rgba(0, 0, 0, 0.2);
    -border-light: #ECF0F1;
}